# PYTHON BASICS

## Print the statements

In [1]:
print(5)

5

In [2]:
print("hi everyone")

hi everyone

In [3]:
print('hi everyone')

hi everyone

In [4]:
3+12

15

In [5]:
print(3+12)

15

In [6]:
print("3+12")

3+12

In [10]:
print("The value of 4+9 is" ,4+9)

The value of 4+9 is 13

In [12]:
print("hi",1+2,"everyone",'2')

hi 3 everyone 2

## SEPARTATORS

In [18]:
print("welcome to",end=' ')
print("this place")
print("welcome to",1+2,"hi",sep=":")

welcome to this place
welcome to:3:hi

## variables

It is a block of code that is used to store the data(value)
You use the = to assign the values

In [20]:
number = 10 
print(number)

10

## DATATYPE

In [26]:
print( type(number)) 
print(type(10.23))
print(type("hi"))
print(type(True))   #  true or false

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Operators

## ARITHEMETIC OPERATORS

In [32]:
a=1
b=2
print("SUM OF A + B =",a+b)
print("subtract:",a-b)
print("multiply",a*b)
print("divide",a/b)
print(2**3)

SUM OF A + B = 3
subtract: -1
multiply 2
divide 0.5
8

## RELATIONAL OPERATORS

IT IS USE TO COMPARE THE VALUES 
OUTPUT IS IN FORM OF TRUE OR FALSE 
>,<,<=,>=,!=

In [34]:
X=1
Y=2
print(X>Y)   
print(X<Y)
print(X!=Y)
print(X==Y)

False
True
True
False

## LOGICAL OPERATORS

AND -> TRUE ONLY BOTH THE OPERATIONS ARE HAVING TRUE s result
OR -> TRUE WHEN ANY ONE THE OPERATIONS IS TRUE
NOT -> REVERSE 
TWO VARIABLES

In [37]:
num1=True
num2=False
print(num1 and num2)  
print(num1 or num2)
print(not num1)

False
True
False

COMPOUND OPERARTORS   =,+=,-=

In [38]:
x=3
x=x+2
x+=2
x=x-2   
x-=2

# STRINGS

It is collection of sequence of characters 
syntax> double braces or single braces

In [45]:
day="Wednesday"

# SLICING ->  STRING_NAME[START INDEX: END INDEX: SKIP INDEX]
print(day[0:3])
print(day[-4:-1])

print(day[ : ])
print(day[0:9])

print(day[0:9:2])

Wed
sda
Wednesday
Wednesday
Wdedy

In [46]:
print(len(day))

9

In [60]:
a="asdf"
print(a.isalnum())   # is our string is alpha numeric 
print(a.isalpha())
print(a.isdigit())
print(a.islower())
print(a.isupper())
print(a.istitle())

True
True
False
True
False
False

In [63]:
day.lower()
day.upper()
day.title()

'Wednesday'

# Functions

Area Calculator:
Create a function Calculate_area(shape, dimensions) that takes the shape (e.g., "rectangle", "circle") and its dimensions as arguments.
The function should calculate the area based on the shape and return the result.
Implement logic for handling different shapes (rectangle, circle) and their corresponding dimensions (length, width for rectangle; radius for circle).

In [5]:
import math

def calculate_area(shape, dimensions):
    if shape.lower() == "rectangle":
        if len(dimensions) != 2:
            return "Error: Rectangle requires length and width."
        length, width = dimensions
        return length * width
    elif shape.lower() == "circle":
        if len(dimensions) != 1:
            return "Error: Circle requires radius."
        radius = dimensions[0]
        return math.pi * radius ** 2
    else:
        return "Error: Unsupported shape."

rectangle_area = calculate_area("rectangle", [5, 3])
print(f"Rectangle area: {rectangle_area}")

# Circle with radius 4
circle_area = calculate_area("circle", [4])
print(f"Circle area: {circle_area}")

Rectangle area: 15
Circle area: 50.26548245743669

Create a function reverse_words(text) that takes a string as input.
The function should reverse the order of words in the string while maintaining the order of characters within each word. -Return the modified string.

In [4]:
def reverse_words(text):
    return text[::-1]

text=reverse_words("string")
print(text)

gnirts

List Statistics:
Create a function analyze_list(numbers) that takes a list of numbers as input.
The function should calculate and return the following in a dictionary:
Minimum value in the list
Maximum value in the list
Average value in the list (use sum and division)
Use a dictionary to store and return the calculated statistics.

In [3]:
def analyze_list(numbers):
    if not numbers:  # Check if the list is empty
        return {"min": None, "max": None, "average": None}

    min_value = min(numbers)
    max_value = max(numbers)
    average_value = sum(numbers) / len(numbers)

    return {
        "min": min_value,
        "max": max_value,
        "average": average_value
    }

# Example usage:
numbers = [10, 20, 30, 40, 50]
statistics = analyze_list(numbers)
print(statistics)

{'min': 10, 'max': 50, 'average': 30.0}

Filtering with Lambda:
Create a list of product names (strings).
Define a function filter_short_names(names, max_length) that takes the list of names and a maximum length as arguments.
Use filter with a lambda function to return a new list containing only names shorter than the provided max_length.
Hint: The lambda function should check the length of each name and return True if it's less than max_length.

In [2]:
def filter_short_names(names, max_length):
    return list(filter(lambda name: len(name) < max_length, names))

# Example usage:
product_names = ["Laptop", "Mouse", "Keyboard", "Monitor", "USB Cable"]
max_length = 7
short_names = filter_short_names(product_names, max_length)
print(short_names)

['Laptop', 'Mouse']

Text Analyzer (Bonus Challenge):
Create a function analyze_text(text) that takes a block of text as input.
The function should:
Count the number of words in the text (split by whitespace).
Count the number of characters (excluding whitespaces).
Find the most frequent word (you can assume case-insensitive matching for simplicity).
Return a dictionary containing these counts and the most frequent word.

In [1]:
def analyze_text(text):
    # Count the number of words in the text
    words = text.split()
    word_count = len(words)
    
    # Count the number of characters (excluding whitespaces)
    char_count = sum(len(word) for word in words)
    
    # Find the most frequent word (case-insensitive)
    word_frequencies = {}
    for word in words:
        word_lower = word.lower()
        if word_lower in word_frequencies:
            word_frequencies[word_lower] += 1
        else:
            word_frequencies[word_lower] = 1
    
    most_frequent_word = max(word_frequencies, key=word_frequencies.get, default=None) if word_frequencies else None

    return {
        "word_count": word_count,
        "char_count": char_count,
        "most_frequent_word": most_frequent_word
    }

text = "this code counts the number of the characters "
analysis = analyze_text(text)
print(analysis)

{'word_count': 8, 'char_count': 38, 'most_frequent_word': 'the'}

# Data structure

4 types of ds:
LIST 
SET 
TUPLE 
DICTIONARY

## list 
List is data type(structure ) that is used to group values together
Features of the list:
1.Ordered 
2.Changeable 
3.Allow duplicate elements 

### syntax  =  [  ]  square braces

In [4]:
list1=[1,"DS",2,"3",True]
print(list1)

[1, 'DS', 2, '3', True]

In [5]:
print(len(list1))

5

In [9]:
list2=[34,56,23,43,54]
print(max(list2))
print(min(list2))
print(sum(list2))

56
23
210

## INSERT THE DATA INSIDE THE LIST

In [12]:
# APPEND -> IT WILL ADD THE ELEMENT AT THE END OF THE LIST 
list2.append(30)
# insert (index,element)
list2.insert(2,100)
print(list2)
# extend ->add a list inside a list

[34, 56, 100, 23, 43, 54, 30, 30]

In [13]:
l3=[101,102]
list2.extend(l3)
print(list2)

[34, 56, 100, 23, 43, 54, 30, 30, 101, 102]

## Deletion of the elements

In [16]:
# pop method 
# pop(index of ele to remove)
print(list2.pop(4))
print(list2)

30
[34, 56, 100, 23, 30, 101]

In [20]:
list5=[32,43,56,93,100]
list5.pop(2)
print(list5.pop())
print(list5)

# remove method if we want to remvoe on the basis of value 
list5.remove(93)
print(list5)

100
[32, 43, 93]
[32, 43]

In [21]:
l=[1,2,3,23,3,2,2,3,1]
print(l.count(1))

2

In [22]:
print(l.index(23))

3

In [24]:
l.sort()
print(l)

[1, 1, 2, 2, 2, 3, 3, 3, 23]

In [25]:
l.reverse()
print(l)

[23, 3, 3, 3, 2, 2, 2, 1, 1]

# SET

Unordered collection of the data 
Change the value of elements 
No duplicate elements 
Unidexed(you cant access the set eleemnts with the index )
You can add different data type inside a single set 
syntax=  { }

In [40]:
set1={'ML','DS',1,2,'DA'}
# print(set1)
# print(type(set1))

#  add element in set 
set1.add("powerbi")
# print(set1)

set1.add("excel")
# print(set1)

# remove element in set 
set1.remove(2)
# print(set1)


# methods of the set 

# 1. UNION   - combining the values of the set 
print(set1)
set2={3,4,5,6,1,"excel"}
print(set2)

print(set1.union(set2))
print(set1.intersection(set2))

set5={1,2,2,2,3,3,3,3,3,3,3}
print(set5)

{'excel', 1, 'powerbi', 'DS', 'DA', 'ML'}
{'excel', 1, 3, 4, 5, 6}
{1, 3, 4, 5, 6, 'DS', 'DA', 'ML', 'excel', 'powerbi'}
{'excel', 1}
{1, 2, 3}

## TUPLES

In [ ]:
Ordered 
Unchangeable 
Indexed 
Allow duplicate values 

syntax ->      (  )

In [47]:
tup1=('ml','ds',2,3)
print(tup1)

print(tup1[2])

# there is no way to add or remove things inside the tuple means once the tuple is declared you cant add elements inside 

y=list(tup1)
print(type(y))
print(y)

y.append(40)
y.append('excel')
print(y)

x=tuple(y)
print(type(x))

('ml', 'ds', 2, 3)
2
<class 'list'>
['ml', 'ds', 2, 3]
['ml', 'ds', 2, 3, 40, 'excel']
<class 'tuple'>

## DICTIONARY

In [61]:
# key-value pair
# Syntax -> { key1:value1 , key2:value2 }
# there must be unique value of the key 
# in place of index we are having key values 
dict1={"tool1":"powerbi","tool2":"excel","tool2":"excel2"}
print(dict1)

# print(dict1["tool2"])

for x in dict1:   #  this is a loop if you want to traverse 
    print(x)  # key value 

# print the value of the key
for x in dict1.values():
    print(x)
    
# print both the key & value
for x in dict1.items():
    print(x)

# add elements in dict 
dict1['key4']='value4'
print(dict1)

# nested dictionary -> dict inside a dictionary 

t1={"python":"language","c":"lang2"}
t2={"ml":"algo","ds":"analyze"}
       
tools={"tool1":t1,"tool2":t2   }
print(tools)

{'tool1': 'powerbi', 'tool2': 'excel2'}
tool1
tool2
powerbi
excel2
('tool1', 'powerbi')
('tool2', 'excel2')
{'tool1': 'powerbi', 'tool2': 'excel2', 'key4': 'value4'}
{'tool1': {'python': 'language', 'c': 'lang2'}, 'tool2': {'ml': 'algo', 'ds': 'analyze'}}

In [63]:
# for method -> traverse inside the datatype list,tuple,dictionary 

l=[1,2,3,4,4,5]

for number in l :
    print(number)

1
2
3
4
4
5